body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}
/* Selectors */
.coloured-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px
}

.nav-link {
  font-family: "Montserrat-light", sans-serif;
  font-weight: lighter;
}

.dwn-btn {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.iphone6 {
  width: 50%;
  transform: rotate(25deg);
  margin-top: 1%;
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 1%;
}

.feature-title {
  color: #000;
  font-size: 1.5rem;
}

/* Font Awesome Icons*/
.icon {
  color: #ef8172;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 30px 30px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA Call To Action*/
#cta {
  padding: 7% 15%;
  line-height: 1.5;
}

/* Footer */

.btn-footer {
  margin: 2% 1% 2% 1%;
  font-size: 1rem
}

/* Media quarries */
@media (max-width:1028px) {
  .iphone6 {
    transform: rotate(0);
    position: static;
    width: 60%;
  }

  #title {
    text-align: center;
  }
}
